---
layout: default
title: connor bell
---
<div id="wrapper" class="w-full px-4 text-white flex flex-col gap-24 mb-6">
    <!-- home -->
    <section id="home" class="container h-screen mx-auto">

    </section>

    <!-- Projects -->
    <section id="projects" class="container mx-auto">
        <div class="flex justify-center mb-12">
            <h1 class="text-4xl font-bold border-b border-white inline pb-2">Projects</h1>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for project in site.data.projects %}

            <!-- Project Card -->
            <a class="border border-white rounded shadow-lg overflow-hidden flex flex-col hover:-translate-y-2 hover:shadow-white/25 transition-all"
                href="{{project.link}}">
                <div class="w-full h-full overflow-hidden">
                    <img class="h-full w-auto" src="{{project.head}}" alt="{{project.name}}">
                </div>

                <div class="w-full p-4 flex flex-col gap-3">
                    <div class="flex items-center">
                        <h2 class="text-2xl font-bold">{{project.name}}</h2>

                        <div class="grow flex justify-end text-2xl">
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                        </div>
                    </div>

                    <p>{{project.description}}</p>

                    {% assign tags = project.tags | split: " " %}
                    {% assign techs = project.tech | split: " " %}

                    {% if tags or techs %}

                    <div class="flex flex-row gap-2">
                        {% for tag in tags %}

                        <p class="border border-white px-3 py-1 rounded">{{tag}}</p>

                        {% endfor %}

                        {% for tech in techs %}

                        <p class="border border-white px-3 py-1 rounded">{{tech}}</p>

                        {% endfor %}
                    </div>

                    {% endif %}
                </div>
            </a>

            {% endfor %}
        </div>
    </section>

    <!-- About -->
    <section id="about" class="container mx-auto">
        <div class="flex flex-row gap-12">
            <div class="grow">
                <h1 class="text-4xl font-bold border-b border-white inline pb-2">About</h1>
            </div>

            <p class="text-xl grow leading-loose">
                hi! i'm connor. <br>
                i write code and make art <br>
                my code lives on <a class="underline" href="https://git.sr.ht/~connorbell/">SourceHut</a> and
                <a class="underline" href="https://shadertoy.com">Shadertoy</a>.<br>
                i'm a Sr. Software Developer at Unity. CV. <br>
                i help admin the <a class="underline" href="https://shader.zone">shader.zone</a> discord. <br>
                i live in the unceded territory of Mi'kma'ki <br>
                say hi@connorbell.ca <br>
            </p>

            <div class="justify-end flex-shrink w-96">
                <img class="w-full h-auto rounded-full" src="assets/images/connorbell.jpg" alt="Connor Bell">
            </div>
        </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="container mx-auto">
        <div class="flex justify-center">
            <h1 class="text-4xl font-bold border-b border-white inline pb-2">Contact</h1>
        </div>
    </section>
</div>