---
layout: default
title: connor bell - projects
---

<div class="container mx-auto px-4 my-12" id="projects">
    <div class="flex justify-center mb-12">
        <h1 class="text-4xl font-bold border-b border-white inline pb-2">Projects</h1>
    </div>

    <!-- Project Tags -->
    {% if site.data.projects %}
    <div class="flex w-100 flex-col items-center justify-center lg:flex-row gap-6 mb-6">
        <h3 class="font-bold text-xl">Tags:
        </h3>

        <!-- List of unique project tags -->
        {% include index/projectTagList.html projects=site.data.projects %}
    </div>
    {% endif %}


    <!-- Project Card Grid -->
    <div id="project-cards" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for project in site.data.projects %}

        <!-- Project Card -->
        {% if project.hide != true %}

        {% include index/projectCard.html
        id=forloop.index
        name=project.name
        head=project.head
        link=project.link
        tags=project.tags
        description=project.description
        %}

        {% endif %}

        {% else %}
        <!-- Show if there are no projects to display -->
        <h3 class="text-2xl italic text-neutral-400 text-center w-full">Nothing to see here...</h3>

        {% endfor %}
    </div>

    <div class="w-full flex justify-center mt-6">
        <a href="/#projects"
            class="text-white hover:text-black hover:bg-white border border-white focus:ring font-medium rounded-lg text-2xl px-8 py-3 w-full md:w-auto flex justify-center items-center gap-3 transition-all">
            <ion-icon name="arrow-back"></ion-icon>
            <span>Back</span>
        </a>
    </div>
</div>