{% comment %}
Image gallery component
@param path {string} - relative path to static assets to be displayed
@param [size] {string} - determins the number of cols at different breakpoints (options: sm, md)
{% endcomment %}

{% capture galleryCols %}
{% case include.size %}
{% when "sm" %}
grid-cols-3
{% when "md" %}
grid-cols-3 sm:grid-cols-4
{% else %}
grid-cols-3 sm:grid-cols-4 md:grid-cols-5
{% endcase %}
{% endcapture %}

{% assign galleryClass = "lightbox-gallery-gallery grid" | append: galleryCols | append: "gap-4 not-prose" %}

<div class="lightbox-gallery">
    <!-- Image Gallery -->
    <div class="{{ galleryClass }}">
        {% assign thumbIndex = 0 %}

        {% for file in site.static_files %}
        {% if file.path contains include.path %}
        {% unless file.basename contains "-thumb" or file.extname == ".mp4" %}

        {%- comment -%}Get path to images thumbnail{%- endcomment -%}
        {% assign thumbName = file.basename | append: "-thumb" | append: file.extname %}
        {% assign thumbPath = file.path | remove: file.name | append: thumbName %}

        <a href="{{ file.path }}" data-thumb-index="{{ thumbIndex }}"
            class="lightbox-gallery-item w-full aspect-square overflow-hidden flex justify-center items-center cursor-zoom-in">

            {%- comment -%}Image content thumbnail{%- endcomment -%}
            {% unless file.extname == ".webm" %}

            <img src="{{ thumbPath }}" alt="{{ file.basename }}" loading="lazy" width="200" height="200"
                class="min-h-full min-w-full object-cover shrink-0 rounded hover:scale-110 transition-transform ease-out duration-200">

            {%- comment -%}Video content thumbnail{%- endcomment -%}
            {% else %}

            {%- comment -%}Get path to mp4 thumbnail{%- endcomment -%}
            {% assign mp4ThumbName = file.basename | append: "-thumb" | append: ".mp4" %}
            {% assign mp4ThumbPath = file.path | remove: file.name | append: mp4ThumbName %}

            <video autoplay loop muted playsinline
                class="min-h-full min-w-full object-cover shrink-0 rounded hover:scale-110 transition-transform ease-out duration-200">
                <source src="{{ thumbPath }}" type="video/webm">
                <source src="{{ mp4ThumbPath }}" type="video/mp4">
            </video>

            {% endunless %}

        </a>

        {% assign thumbIndex = thumbIndex | plus: 1 %}

        {% endunless %}
        {% endif %}
        {% endfor %}
    </div>

    <!-- Lightbox -->
    <div data-active-slide-index="0"
        class="lightbox-gallery-lightbox fixed top-0 left-0 z-50 w-screen h-screen bg-black/50 backdrop-blur not-prose hidden">
        <div class="w-full h-full flex flex-col">
            <div class="flex justify-end">
                <button
                    class="lightbox-gallery-close flex p-4 md:p-6 text-neutral-400 hover:text-white transition-colors">
                    <ion-icon name="close" class="text-4xl leading-none"></ion-icon>
                </button>
            </div>

            <div class="flex-1 relative">
                <div class="absolute top-0 bottom-0 left-0 right-0 flex justify-center items-center">
                    <div
                        class="lightbox-gallery-lightbox-content w-full max-w-7xl max-h-full pb-4 md:pb-6 flex flex-row">
                        <div class="shrink">
                            <button
                                class="lightbox-gallery-prev h-full px-4 md:px-6 flex items-center text-neutral-400 hover:text-white transition-colors">
                                <ion-icon name="chevron-back" class="text-xl md:text-4xl"></ion-icon>
                            </button>
                        </div>

                        <div class="grow">
                            {% assign slideIndex = 0 %}

                            {% for file in site.static_files %}
                            {% if file.path contains include.path %}
                            {% unless file.basename contains "-thumb" or file.extname == ".mp4" %}

                            {%- comment -%}Image content slide{%- endcomment -%}
                            {% unless file.extname == ".webm" %}

                            <img src="{{ file.path }}" alt="{{ file.basename }}" loading="lazy" width="200" height="200"
                                data-slide-index="{{ slideIndex }}"
                                class="lightbox-gallery-slide w-full max-h-full object-contain">

                            {%- comment -%}Image content slide{%- endcomment -%}
                            {% else %}

                            {%- comment -%}Get path to mp4{%- endcomment -%}
                            {% assign mp4Name = file.basename | append: ".mp4" %}
                            {% assign mp4Path = file.path | remove: file.name | append: mp4Name %}

                            <video autoplay loop muted playsinline data-slide-index="{{ slideIndex }}"
                                class="lightbox-gallery-slide w-full max-h-full object-contain">
                                <source src="{{ file.path }}" type="video/webm">
                                <source src="{{ mp4Path }}" type="video/mp4">
                            </video>

                            {% endunless %}

                            {% assign slideIndex = slideIndex | plus: 1 %}

                            {% endunless %}
                            {% endif %}
                            {% endfor %}
                        </div>

                        <div class="shrink">
                            <button
                                class="lightbox-gallery-next h-full px-4 md:px-6 flex items-center text-neutral-400 hover:text-white transition-colors">
                                <ion-icon name="chevron-forward" class="text-xl md:text-4xl"></ion-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>