<nav id="navbar" class="w-full relative px-4 bg-gradient-to-b from-black/50 to-black/0 z-50">
    <div class="container mx-auto flex flex-row items-center py-2">
        <div id="logo" class="fade-in-top">
            <a class="text-3xl md:text-4xl font-bold" href="/">
                connor
                <span class="md:hidden">b.</span>
                <span class="hidden md:inline">bell</span>
            </a>
        </div>

        <div id="links" class="grow hidden md:flex flex-row justify-end fade-in opacity-0">
            <div class="flex flex-row gap-4 items-center">
                <a class="text-xl hover:text-cyan-200 hover:underline" href="/#projects">projects</a>
                <a class="text-xl hover:text-cyan-200 hover:underline" href="/#about">about</a>
                <a class="text-xl leading-none px-4 py-2 border border-white rounded hover:bg-white hover:text-black transition"
                    href="/#contact">
                    contact
                </a>

                {% for social in site.data.socials %}

                <a class="text-2xl leading-none" href="{{social.link}}" target="_blank">
                    <span class="inline-block" style="min-width: 24px; min-height: 24px;">
                        <ion-icon name="{{social.logo}}"></ion-icon>
                    </span>
                </a>

                {% endfor %}
            </div>
        </div>

        <div id="menu" class="grow flex md:hidden flex-row justify-end" href="#">
            <a href="#" class="sticky top-0">
                <ion-icon size="large" name="menu-outline"></ion-icon>
            </a>
        </div>
    </div>
</nav>