{% comment %}
Youtube video player component
@param id {string} - The id for the youtube video to embed
@param title {string} - The title of the video
{% endcomment %}

{% capture thumbnail %}
background-image: -webkit-image-set(
    url('https://i.ytimg.com/vi/{{ include.id }}/hqdefault.jpg') 1x,
    url('https://i.ytimg.com/vi/{{ include.id }}/maxresdefault.jpg') 2x);
background-image: image-set(
    url('https://i.ytimg.com/vi/{{ include.id }}/hqdefault.jpg') 1x,
    url('https://i.ytimg.com/vi/{{ include.id }}/maxresdefault.jpg') 2x);
{% endcapture %}

{% assign videoUrl = "https://youtube.com/watch?v=" | append: include.id %}

<lite-youtube videoid="{{ include.id }}" style="{{ thumbnail }}" class="w-full max-w-7xl aspect-[16/9] rounded">
    <a href="{{ videoUrl }}" class="lty-playbtn" title="Play Video">
        <span class="lyt-visually-hidden">Play Video: {{ include.title }}</span>
    </a>
</lite-youtube>