--- 
--- 
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .tag {
        @apply border border-white px-3 py-1 rounded transition-all;
    }

    .tag.active {
        @apply bg-white text-black;
    }

    button.tag {
        @apply hover:bg-white hover:text-black focus:ring;
    }

    button.tag.active {
        @apply hover:bg-slate-300 hover:text-slate-900;
    }
}

.fade-in {
    animation: fadeIn 0.5s linear forwards;
}

.fade-in-slow {
    animation: fadeIn 2s linear forwards;
}

.fade-in-left {
    animation: fadeIn 0.5s linear forwards, fromLeft 0.5s ease-out none;
}

.fade-in-top {
    animation: fadeIn 0.5s linear forwards, fromTop 0.5s ease-out none;
}

.links-fade-in * {
    opacity: 0;
    animation: fadeIn 0.5s linear forwards;
    animation-delay: calc(var(--animation-index) * 0.1s);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@keyframes fromLeft {
    0% {
        opacity: 0;
        transform: translateX(-1.5rem);
    }

    100% {
        opacity: 100;
        transform: translateX(0);
    }
}

@keyframes fromTop {
    0% {
        opacity: 0;
        transform: translateY(-1.5rem);
    }

    100% {
        opacity: 100;
        transform: translateX(0);
    }
}