{% comment %}
Card component for project information
@param id {string} - A unique identifier for the project card
@param name {string} - The name of the project
@param head {string} - The image to display at the head of the card
@param link {string} - The subdirectory for the projects page
@param tags {list} - A list of tags associated with the project
@param description {string} - A short description of the project
{% endcomment %}

{% if include.id %}
{% assign projectCardId = "project-" | append: include.id %}
{% endif %}

<a id="{{projectCardId}}"
    class="project-card border border-neutral-500 rounded shadow-lg overflow-hidden flex flex-col hover:bg-neutral-900 transition-colors fade-on-scroll"
    href="{{include.link}}">
    <div class="w-full aspect-[16/9] overflow-hidden flex justify-center items-center">
        <img class="min-h-full min-w-full object-cover shrink-0" src="{{include.head}}" alt="{{include.name}}"
            loading="lazy" width="16" height="9">
    </div>

    <div class="w-full p-4 flex flex-col grow">
        <div class="flex shrink items-center">
            <h2 class="text-xl lg:text-2xl font-display font-medium">{{include.name}}</h2>

            <div class="grow flex justify-end text-xl lg:text-2xl font-medium">
                <ion-icon class="project-card-icon" name="arrow-forward-sharp"></ion-icon>
            </div>
        </div>

        <div class="flex grow py-6">
            <p class="text-neutral-200">{{include.description}}</p>
        </div>

        {% if include.tags %}

        <div class="shrink">
            <div id="card-tags" class="flex flex-row gap-2">
                {% for tag in include.tags %}

                {% include index/projectTag.html name=tag %}

                {% endfor %}
            </div>
        </div>


        {% endif %}
    </div>
</a>