{% comment %}
Card component for project information
@param id {string} - A unique identifier for the project card
@param name {string} - The name of the project
@param head {string} - The image to display at the head of the card
@param link {string} - The subdirectory for the projects page
@param tags {list} - A list of tags associated with the project
@param description {string} - A short description of the project
{% endcomment %}

{% if include.id %}
{% assign projectCardId = "project-" | append: include.id %}
{% endif %}

<a id="{{projectCardId}}"
    class="border border-white rounded shadow-lg overflow-hidden flex flex-col hover:-translate-y-2 transition-transform"
    href="{{include.link}}">
    <div class="w-full h-full overflow-hidden">
        <img class="h-full w-auto" src="{{include.head}}" alt="{{include.name}}">
    </div>

    <div class="w-full p-4 flex flex-col gap-3">
        <div class="flex items-center">
            <h2 class="text-2xl font-bold">{{include.name}}</h2>

            <div class="grow flex justify-end text-2xl">
                <ion-icon name="arrow-forward-outline"></ion-icon>
            </div>
        </div>

        <p>{{include.description}}</p>

        {% if include.tags %}

        <div id="card-tags" class="flex flex-row gap-2">
            {% for tag in include.tags %}

            {% include index/projectTag.html name=tag %}

            {% endfor %}
        </div>

        {% endif %}
    </div>
</a>