{% comment %}
Creates a list of unique tags from an array of projects
@param projects {array} - An array of project objects
@param limit {number} - Limit number of projects to get tags from
{% endcomment %}

{% unless include.projects == empty %}

{% if limit == true %}

<div id="project-tags" class="flex flex-row justify-center gap-2 flex-wrap">
    {% assign tagsLimit = include.limit | minus: 2 %}

    <!-- Create array of all tags in project cards -->
    {% assign projectTags = include.projects[0].tags %}
    {% for project in include.projects offset:1 limit:tagsLimit %}

    <!-- Only add tags to array if the project is not hidden -->
    {% if project.hide != true %}

    {% assign projectTags = projectTags | concat: project.tags %}

    {% endif %}

    {% endfor %}

    <!-- Remove all none unique tags -->
    {% assign projectTags = projectTags | uniq %}

    <!-- Render tag list -->
    {% for tag in projectTags %}

    {% assign tagId = "filter-tag-" | append: forloop.index %}
    {% include index/projectTag.html id=tagId name=tag button=true %}

    {% endfor %}
</div>

{% else %}

<div id="project-tags" class="flex flex-row justify-center gap-2 flex-wrap">
    <!-- Create array of all tags in project cards -->
    {% assign projectTags = include.projects[0].tags %}
    {% for project in include.projects offset:1 %}

    <!-- Only add tags to array if the project is not hidden -->
    {% if project.hide != true %}

    {% assign projectTags = projectTags | concat: project.tags %}

    {% endif %}

    {% endfor %}

    <!-- Remove all none unique tags -->
    {% assign projectTags = projectTags | uniq %}

    <!-- Render tag list -->
    {% for tag in projectTags %}

    {% assign tagId = "filter-tag-" | append: forloop.index %}
    {% include index/projectTag.html id=tagId name=tag button=true %}

    {% endfor %}
</div>

{% endif %}

{% endunless %}