<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}" class="scroll-smooth">

<head>
  {% include metadata.html %}

  <!-- Fonts -->
  <link rel="preload" href="/assets/fonts/JetBrainsMono.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/JetBrainsMono-Italic.woff2" as="font" type="font/woff2" crossorigin> 
  <link rel="preload" href="/assets/fonts/Manrope.woff2" as="font" type="font/woff2" crossorigin> 

  <!-- Page Stylesheets -->
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/layouts/default.css" | relative_url }}">
</head>

<body class="relative bg-black text-white">
  <!-- Navbar -->
  <div class="absolute top-0 w-full">
    {% include navbar.html %}
  </div>

  <!-- Main Page Content -->
  <div id="page-content">
    {{ content }}
  </div>

  <!-- Footer -->
  {% include footer.html %}

  <!-- Ionicons library -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>